.player_ iframe{
	border:2px solid red;
	height:100px;
	width:100px;
}

.player_.player_0 iframe{
	height:300px;
	width:300px;
	border:2px solid green;
}


footer{
	
	color:#fff;
	text-align:center;
	padding:1% 0;
	width:100%;
	float:left;
}
