div
	div.pusher
		label URL
		input(type="text"  ng-model="submit.url_1")
		a(ng-click="addtoqueue(1)") add(video1)
		input(type="text"  ng-model="submit.url_2")
		a(ng-click="addtoqueue(2)") add(video2)

		input(type="text"  ng-model="submit.url_1")
		a(ng-click="addtoqueue(3)") add(video3)

		
	p {{ajoute}}
		


	h3 lat: {{clientlat}} lon: {{clientlon}}
	h4 playlist # {{server_target}}
	h4 {{distance}}	