.container(ng-if="ui.ready")
	
	a.logo(href='/#!') 
		img(title="#{locals.site_title}" src="images/logo.svg")
	

	
	// span.progress(href='/#!') 
		img(title="" src="images/progress.png")

	span.notif(ng-if="notice==true" ng-click="notice=false" href='/#!') 
		img(title="" src="images/notif.png")
	span.businfos(ng-click="next()") 
		img(title="" src="images/businfos.png")



	h1 {{playing.videos.length}}
	div( class="player_ player_{{$index}}" ng-repeat="v in playing.videos track by $index")
		iframe(id="player_{{$index}}" ng-if="v.provider == 'youtube' " ng-src="{{v.url}}"  frameborder="0" webkitallowfullscreen autoplay="true" mozallowfullscreen allowfullscreen)
		// h3 {{v.time}} minutes
		// h4 {{v.description}}
		// h5(ng-click="playpause(v)" ng-if="v.playing==true" ) next ! 
		// h5(ng-if="!v.saved" ng-click="save(v)") save
		// h5(ng-if="v.saved") saved ! 
		// h1 playlist



	// h1 ma playlist
	// div( class="player_my player_my_{{$index}}" ng-repeat="v in saved track by $index")

		iframe(id="player_{{$index}}" ng-if="v.provider == 'youtube' " ng-src="{{v.url}}"  frameborder="0" webkitallowfullscreen autoplay="true" mozallowfullscreen allowfullscreen)
		h3 {{v.time}} minutes
		h4 {{v.description}}
		h5(ng-click="playpause(v)" ng-if="v.playing==true" ) next ! 
		h5(ng-click="remove(v)") remove




