div(id="fb-root")
.container-fluid(ng-hide="ui.ready == true")
			p.alert.alert-success Chargement...

.container-fluid(ng-if="ui.ready")
	
	
	div(class="player_ player_{{$index}}" ng-repeat="v in playing.videos track by $index")
		iframe(ng-if="v.provider == 'youtube'" ng-src="{{v.url}}"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
footer
	a(href="") 
		span(ng-if="ui.iswidget") un widget   
		span openrama
			